# Rust compilation stuffs
/target

# Project secrets
.env
.qwen.env

# Project related directories
/test_out
/test-out
/out
/.cache

# Onnx runtime

## Windows
/onnxruntime.dll
/onnxruntime_providers_*.dll

## Linux
/libonnxruntime.so
/libonnxruntime_providers_*.so

## MacOS
/libonnxruntime.dylib
/libonnxruntime_providers_*.dylib
