# Rust compilation stuffs
/target

# Project secrets
.env
.qwen.env

# Project related directories
/test_out
/test-out
/out
/.cache

# Onnx runtime
/onnxruntime.dll
/libonnxruntime.so
/onnxruntime_providers_*.dll
/libonnxruntime_providers_*.so